In [1]:
import numpy as np
import pandas as pd

def normalize_data(X):
    N,T,K = X.shape
    X = X.reshape(-1,T*K)
    mean = np.mean(X, axis=0, keepdims=True)
    std = np.std(X, axis=0, keepdims=True)
    X = (X - mean) / (std + 1e-7)
    X = X.reshape(-1,T,K)
    return X

In [2]:
A = np.load("data_A.npy")
A = normalize_data(A)
B = np.load("data_B.npy")
B = normalize_data(B)
C = np.load("data_C.npy")
y = np.load("labels.npy")

In [8]:
C = C.reshape((C.shape[0],3))[:,[0,2]]

In [9]:
valid_mask = np.isfinite(C).all(axis=1)

# Filter out rows where C has inf or NaN values
filtered_A = A[valid_mask]
filtered_B = B[valid_mask]
filtered_C = C[valid_mask]
filtered_y = y[valid_mask]

In [10]:
np.save("data_A",filtered_A)
np.save("data_B",filtered_B)
np.save("data_C",filtered_C)
np.save("labels",filtered_y)

In [13]:
A = np.load("data_A_2022.npy")
A = normalize_data(A)
B = np.load("data_B_2022.npy")
B = normalize_data(B)
C = np.load("data_C_2022.npy")
y = np.load("labels_2022.npy")

In [14]:
C = C.reshape((C.shape[0],3))[:,[0,2]]

In [15]:
valid_mask = np.isfinite(C).all(axis=1)

# Filter out rows where C has inf or NaN values
filtered_A = A[valid_mask]
filtered_B = B[valid_mask]
filtered_C = C[valid_mask]
filtered_y = y[valid_mask]

In [16]:
np.save("data_A_2022",filtered_A)
np.save("data_B_2022",filtered_B)
np.save("data_C_2022",filtered_C)
np.save("labels_2022",filtered_y)

In [40]:
len(C)

161901

In [39]:
len(C[np.isfinite(C).all(axis=1)])

161823

In [36]:
np.mean(C,axis=0)

array([       nan, 0.49577771])

In [31]:
C.mean()

nan

In [25]:
df_C = pd.DataFrame(C)

In [26]:
df_C.describe()

                   0              1
count  161823.000000  161901.000000
mean       14.283578       0.495778
std         0.650797       0.288871
min        12.170000       0.000000
25%        13.800000       0.245283
50%        14.330000       0.495327
75%        14.750000       0.746835
max        16.300000       0.992806

In [29]:
df_C[df_C.isnull()]

         0   1
0      NaN NaN
1      NaN NaN
2      NaN NaN
3      NaN NaN
4      NaN NaN
...     ..  ..
161896 NaN NaN
161897 NaN NaN
161898 NaN NaN
161899 NaN NaN
161900 NaN NaN

[161901 rows x 2 columns]

In [22]:
len(y[y==1])

79021

In [17]:
A.shape

(161901, 14, 12)

In [18]:
B.shape

(161901, 6, 2)

In [5]:
A.shape

(161901, 14, 12)

In [16]:
C.shape

(161901, 2)

In [39]:
A2 = np.load("data_A_2023.npy")
A2 = normalize_data(A2)
B2 = np.load("data_B_2023.npy")
B2 = normalize_data(B2)
y2 = np.load("labels_2023.npy")

In [40]:
A_new = np.concatenate((A,A2))
B_new = np.concatenate((B,B2))
y_new = np.concatenate((y,y2))

In [42]:
A_new.shape

(207754, 14, 12)

In [44]:
B_new.shape

(207754, 6, 2)

In [41]:
np.save("data_A_combined",A_new)
np.save("data_B_combined",B_new)
np.save("labels_combined",y_new)

In [15]:
from .. import utils

ImportError: attempted relative import with no known parent package

In [5]:
B.shape

(75322, 6, 2)

In [7]:
y.shape

(75322, 1)

In [6]:
len(y[y==0])

65313